source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget FAKE
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget FsUnit.xUnit
nuget xunit.runner.visualstudio
